@import 'motion-ui';
@include motion-ui-transitions;
/* Start About styles*/
.about-body {
  background-color: #F9DAD4;
  color: #1D5687;
  font-family: 'Poppins',  sans-serif;
  width: 100%;
  padding-bottom: 40px;

}

.about-section{
  margin-top: 40px;
  text-align: center;
}

.about-photo {
  border: 10px solid #1D5687; 
  border-radius: 4px;
  margin-bottom: 40px;
  text-align: center;

}

.about-section-header {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #F36157;
  font-weight: 800;
  font-size: 38px;


}


/* Start nav styles*/
.navbar{
  background-color: #F9DAD4;
  height: 60px;
  text-align: center;

}

.logo-ellipses {
  margin-right: 50px;
}

.overlay-nav-menu-toggle {
  position: relative;
  font-size: 4rem;
  z-index: 1000;
  color: #0a0a0a;
  top: -0.5rem;
  left: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.overlay-nav-menu-toggle:hover {
  transition: all 0.4s ease-in-out;
  color: #575757;
}

.overlay-nav-menu {
  position: absolute;
  z-index: 90;
  height: 72%;
  width: 100%;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  list-style: none;
  background-color: #d4bdae;
  background-size: cover;
  text-align: center;
  -webkit-transform: translateY(-100%) rotateX(10deg);
          transform: translateY(-100%) rotateX(10deg);
  transition: all 400ms cubic-bezier(1, -0.4, 0.44, 0.985);
}

.overlay-nav-menu li {
 font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding-right: 20px;
}

.overlay-nav-menu a {
  display: block;
  color: #FFFFFF;
  font-weight: bold;
  height: 6.25rem;
  line-height: 6.25rem;
  text-decoration: none;
  text-align: center;
}

.overlay-nav-menu a:hover {
  color: #1D5687 ;
}

.overlay-nav-menu.is-open {
  top: 0;
  opacity: 1;
  -webkit-transform: perspective(200px) translateX(0) rotateX(0);
          transform: perspective(200px) translateX(0) rotateX(0);
}

.overlay-nav-menu.is-open ~ .overlay-nav-menu-toggle {
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: white;
}

/* end nav styles*/



/* Start hero styles*/
.hero-section {
  padding-top: 80px;
  background-color: #F9DAD4;
  background-size: cover;
  min-height: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.tagline {
    text-align: center;
    font-size: 22px;
    color: #1D5687;
   font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    line-height: 145%;
    font-weight: 300;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;

}



/* end hero styles*/

/* start work styles*/

.image-hover-wrapper {
  position: relative;
}

.image-hover-wrapper a {
  display: inline-block;
  letter-spacing: normal;
  line-height: initial;
  margin: 0;
  padding: 0;
  position: relative;
}

.image-hover-wrapper a img {
  float: left;
  overflow: hidden;
  width: 100%;
}


.image-hover-wrapper  .image-hover-wrapper-reveal:hover {
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Positioning of project titles*/
.image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
  opacity: 1;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}

/* Positioning of project titles - mobile */
@media screen and (max-width: 100%) {
  .image-hover-wrapper-mobile a .image-hover-wrapper-reveal-mobile:hover p {
  -webkit-transform: translateY(100%) !important;
      -ms-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
  }

}

/* Positioning of project titles - other work*/
.image-hover-wrapper-other-work a .image-hover-wrapper-reveal-other-work:hover p {
  -webkit-transform: translateY(100%) !important;
      -ms-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
}

.image-hover-wrapper a .image-hover-wrapper-reveal p {
  bottom: 32%;
  display: block;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-hover-wrapper a .image-hover-wrapper-reveal {
  background-color: rgba(9,71,124,0.85);
  color: #1D5687;
  display: inline;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 80;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}


.image-hover-wrapper .image-hover-wrapper-banner {
  color: #ffffff;
  font-weight: 600;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 25%;
  width: 100%;
  height: 100%;
}

.image-hover-wrapper .image-hover-wrapper-banner{
  color: #ffffff;
  font-weight: 600;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 25%;
  width: 100%;
  height: 100%;
}


.image-hover-wrapper-blue a .image-hover-wrapper-reveal-blue {
  background-color: rgba(29,86,135,0.8);
  display: inline;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 101%;
  z-index: 80;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.10s;
}

.image-hover-wrapper-red a .image-hover-wrapper-reveal-red {
  background-color: rgba(243,97,87,0.8);
  display: inline;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 101%;
  z-index: 80;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.10s;
}

.image-hover-wrapper-brown a .image-hover-wrapper-reveal-brown {
  background-color: rgba(242,237,224,0.92);
  display: inline;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 80;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}

.image-hover-wrapper-tan a .image-hover-wrapper-reveal-tan {
  background-color: rgba(242,237,224,0.92);
  display: inline;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 80;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}


.work-blocks-section {
  background-color: #1D5687;
}

.work-block-red{
  background-color: #F36157;
  margin: 0 auto !important; 
  text-align: center;
}

.work-block-blue{
  background-color: #1D5687;
   margin: 0 auto !important; 
  text-align: center;
}

.work-block-brown{
  background-color: #E7DAD0;
   margin: 0 auto !important; 
  text-align: center;

}

.work-block-tan{
  background-color: #F2EDE0;
   margin: 0 auto !important; 
  text-align: center;
}

.project-name {
   text-align: center;
   vertical-align: middle;
  font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    line-height: 110%;


}
/* end work styles*/




/* Project styles - Case studies*/
.navbar-826 {
  background-color: rgba(253, 200, 218, 1.0) !important;

}


.hero-section-projects {
    background-color: #F9DAD4;
    background-size: cover;
    text-align: center;
    text-rendering: optimizeLegibility;
    padding: 9px;
    min-height: 400px;
    
}

.hero-project-name {
    padding-top: 7%;
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    letter-spacing: -2px !important;
     color: #F36157;
    line-height: 100%;
}

@media screen and (max-width: 39.9375em) {
    .hero-project-name-mobile-80 {
        padding-top: 80px !important;
    }

    .hero-project-name-mobile-60 {
        padding-top: 60px !important;
    }
}

.case-study-tagline {
   text-align: center;
    font-size: 22px;
    color: #1D5687;
   font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    line-height: 145%;
    font-weight: 300;
    padding-top: 10px;
}

.navbar-spotify {
  background-color: rgba(9,71,124, 1.0) !important;
}

.section-block {
  margin-top: 100px;
  margin-bottom: 100px; 
}

.last-section-block {
  margin-top: 100px;
}

.last-section-block-spotify {
  margin-top: 0px;
}

.large-section-header {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #F36157;
  font-weight: 800;
  font-size: 38px;
}

.other-work-header {
  text-align: center;
}

.medium-section-subheader {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #1D5687;
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 0px;


}

.small-section-body-text {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #1D5687;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0px;


}

.paragraph-block{
  margin-top: 20px;
}

.image-project {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 20px;
  color: #1D5687;
 font-family: 'Poppins', sans-serif;
}

.image-project-medium {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  color: #1D5687;
 font-family: 'Poppins', sans-serif;
}


.image-project-short {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 20px;
  color: #1D5687;
 font-family: 'Poppins', sans-serif;
}


.hero-image {
  margin: 0 auto !important; 
  text-align: center;
}

.slider-block {
  margin-top: 40px;
  margin-bottom: 20px;
}

.prototype-gif {
  text-align: center; 
  margin: 0 auto !important;
   width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  color: #1D5687;
 font-family: 'Poppins', sans-serif;
}


.process-module {
  margin-top: 20px;
}

.process-circle {
  width: 134px !important;
  height: 134px !important;
  background:  #F36157;
  -moz-border-radius:67px;
  -webkit-border-radius: 67px;
  border-radius: 67px;
  margin: 0 auto !important;
  text-align: center;
  padding-top: 25px;
}


.process-text {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none; 
  text-align: center;

}

.process-text-small {
  font-weight: 400;
  font-size: 11px;
  line-height: 140%;
}

.process-margin {
  margin-bottom: 20px;
}

li {
  font-family: 'Poppins', sans-serif;
  color: #1D5687;
  margin-left: 20px;
}


/* start 3 column module  */
.other-work-section{; 
  padding-bottom: 20px;
  margin-top: 100px;
}

.other-work-section-3columns {
  background-color: #1D5687;
  padding-top: 10px;
  padding-bottom: 80px;
}

.other-work-section-header {
  color: #1D5687 !important;
  text-align: center;
 font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin: 0 auto !important;

}


.other-work-img {
    margin: 20px;
}
/* end 3 column module  */

/* Float */
.hvr-float {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}



/*Start return to top styles */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0,0,0,.3);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 5000;
}

#return-to-top:hover {
    background-color: rgba(0,0,0,.5);
}



/* Wiggle animation for process modules */

.wiggle {
  position: relative; 
  top: 0; 
  text-align: center;
}

.wiggle:not(:first-child) {
  margin-left: 0px; 
}
  


@-webkit-keyframes wiggle {
     from {
        top: -100px;
        opacity: 0;
        }

        to {
        top: 0px;
        opacity: 1;
        }

}

.wiggle {
      -webkit-animation-name: wiggle;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in-out;
 
}
  

.wiggle:hover, .wiggle:focus, .wiggle:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  opacity: 0.8;
}


.wiggle:nth-child(2){
  animation-delay: 0.1s; 
}
  

.wiggle:nth-child(3) {
  animation-delay: 0.2s; 
}
  

.wiggle:nth-child(4) {
  animation-delay: 0.3s;
}

.wiggle:nth-child(5) {
  animation-delay: 0.4s;
}
  
/* start email footer styles*/
.email-footer-section {
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  background-color: #F9DAD4;
}

@media screen and (max-width: 39.9375em) {

    .email-footer-section-mobile {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

.email-footer-section .email-footer-section-text {
  color: #1D5687;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto !important;
}


.hello-button{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
    line-height: 1.2;

}

.button-spacing {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0px;
  color: #1D5687;
 font-family: 'Poppins', sans-serif;
}

.button-spacing-minimized {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #1D5687;
 font-family: 'Poppins', sans-serif;
}


.credit-spacing {
  margin-top: 40px;
}


/* end email footer styles*/

/* start social footer styles  */

.social-footer {
  background-color: #F9DAD4;
  margin: 0 auto !important;
  padding-top: 40px;
  padding-bottom: 40px;
}

.social-footer-icons {
  text-align: center;
  padding-top: 20px;
}


.footer-text{
  color: #1D5687;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.footer-section-subheader {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #1D5687;
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 0px;


}

.footer-section-body-text {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #1D5687;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0px;


}


/* end social footer styles */



/* Start Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 20px;
  background: #F36157;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* End Underline From Center */


@-webkit-keyframes example {
   from {
        top: -100px;
        opacity: 0;
        }

        to {
        top: 0px;
        opacity: 1;
        }
}

.example-animation {
    position: relative;
    -webkit-animation-name: example;
      -webkit-animation-duration: 1.3s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in;
}


.carousel-container {
  position: relative;
  text-align: center;
  color: white;

}


.carousel-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   font-family: 'Poppins', sans-serif;
  color: #1D5687;
  font-weight: bold;
  font-size: 180%;
  letter-spacing: 0px;
  line-height: 120%;
  
}


a:hover {
  color: #F36157;
}


/* Flickity carousel styles */

.carousel {
  background: #EEE;
}



.carousel-cell {
  width: 25%;
  height: 300px;
  background: #E7DAD0;
  border-radius: 1px;
  counter-increment: carousel-cell;
}

.carousel-cell-alt {
  width: 25%;
  height: 300px;
  background: #F2EDE0;
  border-radius: 1px;
  counter-increment: carousel-cell;
}

.carousel-cell a{
color: #000000;
}

.carousel-cell-alt a{
color: #000000;
}



.btn-brown {
  background: #E7DAD0;
  width: 100%;
  height: 300px;
  text-align: center;
  font-size: 38px;
  line-height: 48px;
  color: #1D5687;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  transition: 0.4s;
  padding: 20px 20px;

}

.btn-tan {
  background: #F2EDE0;
  width: 100%;
  height: 300px;
  text-align: center;
  font-size: 38px;
  line-height: 45px;
  color: #1D5687;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  transition: 0.4s;
  padding: 20px 20px;

}




.btn-brown:hover {
  background-color: #1D5687;
  color: #ffffff;
  cursor: pointer;
}

.btn-tan:hover {
  background-color: #1D5687;
  color: #ffffff;
  cursor: pointer;
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) 
{


   .carousel-cell {
  width: 50%;
}

.carousel-cell-alt {
  width: 50%;
} 

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{

     .carousel-cell {
  width: 100%;
}

.carousel-cell-alt {
  width: 100%;
} 

}
